@font-face {
  font-family: "Figtree";
  src: url("../public/assets/fonts/Figtree-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #35273a;
}

@font-face {
  font-family: "Nerko One";
  src: url("../public/assets/fonts/NerkoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
